/* Site Variables link Color, font etc */

:root{
    --primarycolor : #E61C5D;
    --graytext : #808080;
    --blacktext : #112B3C;
    --whitetext : #fff;
    --yollow : #FFBD39;
    --box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.04);
}

/* Comon Css  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Barlow', sans-serif;
}
.container {
    width: 1145px;
    margin: 0 auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.nav-cta 
.primary-btn{
    background-color: var(--primarycolor);
    color: var(--whitetext);
    padding: 18px 24px;
    border-radius: 45px;
}
.primary-text {
    color: var(--primarycolor);
}
.secoundery-text{
    color: var(--yollow);
}
.text-title{
    font-size: 48px;
    font-weight: 700;
    color: var(--blacktext);
}
.sub-title{
    font-size: 16px;
    color: var(--primarycolor);
    font-weight: 700;
    margin-bottom: 4px;
    text-transform: uppercase;
}
/* Navbar Css  */

header{
    box-shadow: var(--box-shadow);
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 0px;
}
.header-logo img{
    width: 142px;
}
.nav-bar{
    flex-grow: 1;
}
.nav-bar 
.active-btn{
    font-weight: 500;
    color: var(--blacktext);
}
.nav-bar ul{
    display: flex;
    gap: 40px;
    justify-content: center;
}
.nav-bar ul li a ,
.nav-cta a {
    font-size: 20px;
    font-weight: 400;
    color: var(--graytext);
    position: relative;
}

.nav-bar ul li .active-btn a,
.nav-bar ul li a:hover{
    color: var(--blacktext);
    font-weight: 500;
}
.nav-bar ul li a::after{
    content: "";
    position: absolute;
    width: 18px;
    height: 4px;
    background: var(--primarycolor);
    left: 50%;
    bottom: -6px;
    transform: translate(-50% , 0%);
    opacity: 0;
    transition: all 0.5s;
}

.nav-bar ul li .active-btn::after,
.nav-bar ul li a:hover::after{
    opacity: 1;
}

.login-btn{
    margin-right: 30px;
}

/* Navbar Css End  */

/* Hero section css  */

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 82px 0px;
}
.hero-content h1{
    max-width: 570px;
    font-size: 64px;
    font-weight: 900;
    line-height: 120%;
}
.title-shape{
    position: relative;
    z-index: 1;
}
.title-shape img{
    position: absolute;
    left: -1%;
    top: 0%;
    z-index: -1;
}
.hero-content p{
    max-width: 469px;
    font-size: 24px;
    font-weight: 400;
    padding: 32px 0px;

}
.hero-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 470px;
    height: 80px;
    box-shadow: var(--box-shadow);
    border-radius: 58px;
    padding: 0px 15px;
    gap: 20px;

}
.search-input{
    display: flex;
    align-items: center;
    gap: 13px;
}
.search-devider{
    background-color: var(--graytext);
    width: 1px;
    height: 25px;
    display: inline-block;
    color: var(--graytext);
    opacity: 0.2;
}
.select-box label{
    font-size: 12px;
    font-weight: 600;
    color: var(--graytext);
    display: inline-block;
    position: relative;
    margin-bottom: 6px;
}
.select-box select{
    border: none;
    font-size: 12px;
    font-weight: 700;
}
.select-box label::after{
    content: '';
    position: absolute;
    background-image: url(../icon/arrow-down.svg);
    width: 14px;
    height: 14px;
    top: 1px;
    right: -17px;
}
.search-submit button{
    background-color: var(--primarycolor);
    border: none;
    padding: 12px 12px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    cursor: pointer;
}
/* Hero section css end  */

/* About section css start */
.about-section{
    padding: 60px 0px;
}
.about-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-contet {
    padding-left: 118px;
}

.about-desc{
    font-size: 20px;
    font-weight: 400;
    color: var(--graytext);
    max-width: 442px;
    margin-top: 24px;
    line-height: 160%;
}
.about-counter{
    display: flex;
}
.count-item {
    max-width: 100px;
    margin-top: 24px;
}
.count{
    font-size: 40px;
    font-weight: 700;
    display: block;
    color: var(--primarycolor);
}
.count-title{
    font-size: 16px;
    color: var(--graytext);
    font-weight: 400;
}
/* Tour place css  */

.tour-section{
    padding: 60px 0px;
}

.tour-places{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.tour-place-item{
    margin: 76px 0px;
    box-shadow: var(--box-shadow);
    border-radius: 16px;
}
.tour-title .text-title{
    max-width: 591px;
}

.tour-content{
    padding: 20px 24px 30px 24px;
}
.tour-content h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 132%;
    color: var(--blacktext);
}
.tour-content p{
    font-size: 14px;
    font-weight: 400;
    margin: 8px 0px;
}
.place-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0px;
}
.place-footer span.price {
    font-size: 24px;
    font-weight: 700;
    line-height: 132%;
    color: var(--primarycolor);
}
.place-footer span{
    font-size: 12px;
    font-weight: 400;
    line-height: 132%;
    color: var(--graytext);
}
/* tour section css end  */

/* testimonials css */
.testimonial-section{
    padding: 60px 0px;
}

.testimonial-title{
    text-align: center;
}
.testimonial-title .text-title{
    max-width: 591px;
    margin: 0 auto;
}
.testimonials{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    margin: 80px 0px ;
}
.client-feedback{
    text-align: center;
    box-shadow: var(--box-shadow);
    padding: 42px 40px;
    position: relative;
}
.client-feedback::after{
    content: '';
    position: absolute;
    background-image: url(../icon/quotation.svg);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    top: -6%;
    right: 24px;
}
.client-feedback h4{
    font-size: 18px;
    font-weight: 700;
    margin-top: 12px;
    color: var(--blacktext);
}
.client-feedback span{
    font-size: 14px;
    font-weight: 400;
    color: var(--blacktext);
    display: block;
    margin: 4px 0px;
}
.client-feedback p{
    font-size: 14px;
    font-weight: 400;
    color: var(--blacktext);
    line-height: 133%;
    margin-top: 12px;
}
/* testimonial css end */